/* Buttons helper */

.button {
  align-items: center;
  background-color: white;
  border-radius: 4px;
  color: #4b4b4b;

  font-size: 14px;
  font-weight: 400 !important;
  height: 32px;
  cursor: pointer;

  line-height: 24px;
  position: relative;

  padding: 0 30px 0 30px;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all 0.3s ease;

  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  vertical-align: top;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.button:hover {
  opacity: 0.7;
}

.button:active,
.button:focus,
.button.is-active {
  outline: none;
}

.button[disabled],
.button.is-disabled {
  background-color: #f5f7fa;
  border-color: #d3d6db;
  cursor: not-allowed;
  pointer-events: none;
}

.button[disabled]::-moz-placeholder,
.button.is-disabled::-moz-placeholder {
  color: rgba(34, 35, 36, 0.3);
}

.button[disabled]::-webkit-input-placeholder,
.button.is-disabled::-webkit-input-placeholder {
  color: rgba(34, 35, 36, 0.3);
}

.button[disabled]:-moz-placeholder,
.button.is-disabled:-moz-placeholder {
  color: rgba(34, 35, 36, 0.3);
}

.button[disabled]:-ms-input-placeholder,
.button.is-disabled:-ms-input-placeholder {
  color: rgba(34, 35, 36, 0.3);
}

.button strong {
  color: inherit;
}

.button small {
  display: block;
  font-size: 11px;
  line-height: 1;
  margin-top: 5px;
}

.button .icon:first-child,
.button .tag:first-child {
  margin-left: -2px;
  margin-right: 4px;
}

.button .icon:last-child,
.button .tag:last-child {
  margin-left: 4px;
  margin-right: -2px;
}

.button:hover,
.button:focus,
.button.is-active {
  color: #222324;
}

.button:active {
  box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.2);
}

.button.is-small {
  border-radius: 2px;
  font-size: 11px;
  height: 24px;
  line-height: 16px;
  padding-left: 6px;
  padding-right: 6px;
}

.button.is-medium {
  font-size: 18px;
  height: 40px;
  padding-left: 14px;
  padding-right: 14px;
}

.button.is-large {
  font-size: 22px;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

.button[disabled],
.button.is-disabled {
  opacity: 0.5;
}

.button.is-fullwidth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.content a:not(.button) {
  border-bottom: 1px solid #d3d6db;
}

.content a:not(.button):visited {
  color: #847bb9;
}

.content a:not(.button):hover {
  border-bottom-color: #539ab4;
}