/* Hover effect */

.hover-shadow-effect {
  transition: box-shadow .25s;
  box-shadow: 0;
}

.hover-shadow-effect:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}