/* Responsive helpers */

.hidden {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
  .hidden-tablet-only {
    display: none !important;
  }
}

@media screen and (max-width: 979px) {
  .hidden-touch {
    display: none !important;
  }
}

@media screen and (min-width: 980px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media screen and (min-width: 980px) and (max-width: 1179px) {
  .hidden-desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 1180px) {
  .is-hidden-widescreen {
    display: none !important;
  }
}